@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;  
}

input::placeholder {
  color: #3b3b3b;
  width: 100%;
  max-width: 300px;
}


.input {
  width: 100%;
  max-width: 300px;
  border-radius: 4px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #3b3b3b;
}

.inputt::placeholder {
  color: #494949;
  font-size: 0.8rem;
}

.custom-toast {
  background-color: #000000e7;
  color: #fff;
  border-radius: 8px;
  padding: 16px;
}

